li {
  width: 15%;
  height: 60px;
  background-color: lightgray;
  float: left;
  border-radius: 5px;
  padding-top: 25px;
  border-right: 1px solid gray;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 0px;

}

ul {
  list-style: none;
}

a:link {
  font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
}

body {
  background-image: url("images/picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -40px;
}

p.collage1 {
  position: fixed;
  left: 0px;
  width: 150px;
  height: 200px;
  margin-top: 62px;
  border: 3px solid green;

  filter: blur(1px);
}

p.collage2 {
  position: fixed;
  left: 155px;
  width: 250px;
  height: 200px;
  margin-top: 62px;
  border: 3px solid green;

  filter: blur(1px);
}

p.collage3 {
  position: fixed;
  left: 410px;
  width: 250px;
  height: 200px;
  margin-top: 62px;
  border: 3px solid green;

  filter: blur(1px);
}

p.collage4 {
  position: fixed;
  left: 0px;
  top: 283px;
  width: 250px;
  height: 200px;
  margin-top: 6px;
  border: 3px solid green;

  filter: blur(1px);
}

p.collage5 {
  position: fixed;
  left: 255px;
  top: 283px;
  width: 200px;
  height: 200px;
  margin-top: 6px;
  border: 3px solid green;

  filter: blur(0.5px);
}

p.collage6 {
  position: fixed;
  left: 0px;
  top: 488px;
  width: 300px;
  height: 200px;
  margin-top: 6px;
  border: 3px solid green;

  filter: blur(0.5px);
}

div.collage7 {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 150px;
  margin-top: 6px;
  border: 3px solid green;

  filter: blur(0.5px);
}

div.collage8 {
  position: fixed;
  right: 200px;
  bottom: 0px;
  width: 200px;
  height: 150px;
  margin-top: 6px;
  border: 3px solid green;

  filter: blur(0.5px);
}

div.collage9 {
  position: fixed;
  right: 0px;
  bottom: 155px;
  width: 220px;
  height: 200px;
  margin-top: 6px;
  border: 3px solid green;

  filter: blur(0.5px);
}

div.stars {
  position: fixed;
  right: 450px;
  top: 150px;
}

li.translate_eng {
  width: 5%;
  height: 40px;
  background-color: lightgray;
  float: right;
  border-radius: 5px;
  padding-top: 0px;
  border-right: 1px solid gray;
  text-align: center;
  margin-top: -25px;
  margin-right: -8px;
}

li.translate_rus {
  width: 5%;
  height: 40px;
  background-color: lightgray;
  float: right;
  border-radius: 5px;
  padding-top: 0px;
  border-right: 1px solid gray;
  text-align: center;
  margin-top: -25px;
  margin-right: 0px;
}

div.footer {
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:89px;
}

div.quote {
  text-align: center;
  left: 0;
  line-height: 40px;
  margin: auto;
  margin-top: -70px;
  position: absolute;
  top: 50%;
  width: 100%;
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
}
